td {
    width: 40px;
    height: 40px;
    background-color: #ddd;
    cursor: pointer;
  }
  
  .blue {
    background-color: blue;
  }
  
  .green {
    background-color: green;
  }
  
  .red {
    background-color: red;
  }
  